<style>
table, tr, td {
    border:solid 1px black;
    border-collapse: collapse
}
th {
    border : 3px;
}
.interface{
    width:69vw;
    margin-left:15vw;
    margin-right:15vw;
    padding:3vmin;
    background-color:rgba(0,0,0,0);
    border:solid 1px black;
    border-radius:3vmin
}
</style>
<div class="interface ">
{{ form_start(form) }}
{{ form_end(form) }}
</div>